extends ../layout.jade

block content
  h1 See all the users
  a(href="/users/new") Create a new user
  table(class="striped")
    thead
      th ID
      th Name
      th Image
      th Username
      th Edit User
      th Delete User
    tbody
      each user in users
        tr
          td #{user.id}
          td #{user.full_name}
          td
            img(src="#{user.img_url}")
          td #{user.username}
          td
            a(href="/users/#{user.id}/edit") Edit
          td
            form(action="/users/#{user.id}?_method=DELETE" method="POST")
              button.waves-effect.waves-light.btn.red(type="submit")
                i.material-icons delete
    tfoot
